h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  text-align: center;
}
.secondrightfirstboxitem.active{
  background: #15687C;
  border: 1px solid #15687C;
  color: #fff;
}
.secondrightfirstboxitem{
  border: 1px solid #98a8ac;
    margin-top: 8px;
    border-radius: 4px;
    background: #fff;
    padding: 4px 8px;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    text-wrap: nowrap;
    cursor: pointer;

  
}
.secondrightfirstbox{
  width:100%;
  padding:20px;
}
.secondrightfirstboxbutton{
  background: #15687C;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}