
.container {
    width: 100%;
  }
  
  .text-details {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap:3vh;
  }

  p{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
  }
  